.layout{
    height: 100%;
}
.layout .toolbar {
    display: flex;
}

.layout .toolbar .add-new {
    margin-left: 1rem;
    font-size: 1.2rem;
}

.layout .toolbar .add-new:hover {
    cursor: pointer;
    color: #007bff;
}